@page "/"
@namespace Blazor_AdminTemplate.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Data Tables</title>

    <link href="/styles/custom.css" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">
</head>
<body id="mainBody" class="app">

    <div id="loader">
        <div class="spinner"></div>
    </div>
    <script>
        window.addEventListener('load', function load() {
            const loader = document.getElementById('loader');
            setTimeout(function () {
                loader.classList.add('fadeOut');
            }, 300);
        });</script>

    <div>
        <app><component type="typeof(App)" render-mode="ServerPrerendered" /></app>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="/scripts/vendor.js"></script>
    <script src="/scripts/bundle.js"></script>
    <script src="/scripts/custom.js"></script>

</body>
</html>
